body{
    margin:0 auto;
    max-width: 800;
    max-height: 400;
    text-align: center;
}
header img{
    
    max-width: 200px;
    

}
div img{
    max-width: 50%;
    float: left;
    margin-right: 2%;
}
p{
    float: left;
}